<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.4.0/dist/lazyload.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{url_for('static', filename='parallax.min.js')}}"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='newstyle.css') }}">
    <title>Sense Share Bear</title>
  </head>
  <body class="index" style="overflow-x: hidden">
    <div class="gradient-background"></div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script>
        {%if not admin %}
        AOS.init();
        {% endif%}

    </script>
    <header class="header">
        <div class="parallax-window" style="height: 200px" data-parallax="scroll" data-image-src="{{ url_for('static', filename='headertest.jpg') }}">
            <div class="social-media-buttons">
                <a class="socialbutton" href="https://www.facebook.com/sebastian.m.art/" style="background: url({{ url_for('static', filename='facebook.svg') }})">
                </a>
                <a class="socialbutton" href="https://www.instagram.com/sebastian_masuda/" style="background: url({{ url_for('static', filename='instagram.svg') }})">
                </a>
                <a class="socialbutton" href="https://twitter.com/sebastea" style="background: url({{ url_for('static', filename='twitter.svg') }})">
                </a>
          </div>
        </div>
    </header>
    <img class="subheader" src="{{ url_for('static', filename='banner-03_2.svg') }}"></div>

    <div class="logo-wrap">
        <img id="logo" src="{{ url_for('static', filename='highbear.png') }}">
    </div>

    {% if admin %}
    <h1 style="color:white; margin: auto; text-align: center">Adminstration View</h1>
    {% endif %}

    {% for chunk in media_files %}
        <div class="container" style="margin-top: 64px">

            <div class="row justify-content-md-center my-images">
                {% for media_file in chunk %}
                    {% if media_file.hidden == False or admin %}
                    <div class="col-12 col-lg-4 my-col" id="media-{{media_file.id}}" style="text-align: center">
                        <div class="inner-col" style="animation-duration: {{range(1000, 7000) | random}}ms;">
                            <div class="pink-extra"></div>
                            <img data-src="/{{media_file.id}}/file" class="new-img lazy">
                            <!--div class="img-file" style="background: url(/{{media_file.id}}/file); animation-duration: {{range(1000, 5000) | random}}ms; background-size: cover"></div-->
                            <div class="meta-elements">
                                <span class="element-box">{{ media_file.timestamp.strftime('%d.%m.%Y (%H:%M)') }} · Tokyo</span>
                            </div>     
                            <div class="img-elements">
                                <a href="#"><img id="share" src="{{ url_for('static', filename='share.svg') }}"></a>
                                <a href="#"><img id="download" src="{{ url_for('static', filename='download.svg') }}"></a>
                            </div>
                            {% if admin %}
                                <a type="button" href="javascript:;" data-id="{{media_file.id}}" id="hide-{{media_file.id}}" class="btn hider btn-danger {{'d-none' if media_file.hidden}}" data-href="/{{ media_file.id }}/hide?token={{ token }}">Hide</a>
                                <a type="button" href="javascript:;" data-id="{{media_file.id}}" id="show-{{media_file.id}}" class="btn shower btn-warning {{'d-none' if not media_file.hidden}}" data-href="/{{ media_file.id }}/show?token={{ token }}">Show</a>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        {% if loop.index - 1 < masuda | length%}
        <div id="masuda">
        <div class="container">
            <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="inner-col">
                            <img class="img-file" src="{{ url_for('static', filename='masuda.svg') }}"/>
                        </div>
                        <div class="overlay"></div> 
                    </div>   
                    <div class="text col-12 col-md-6">
                        <div class="align-middle">
                            <h2>{{masuda[loop.index - 1].title}}</h2>
                            <br>
                            <p>{{masuda[loop.index - 1].description}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {%endif%}
    {% endfor %}

    <div class="footer">
        <div class="footer-nav">
            <a href="">About</a>
            <a href="">Contact</a>
            <a href="">Imprint</a>
        </div>
        <!--img src="{{ url_for('static', filename='footer.svg') }}"-->
    </div>
    <script type="text/javascript">
        $('.hider').on('click', function(event) {
            var href = $(this).data('href')
            var id = $(this).data('id')
            var it = $(this)
            var other = $('#show-' + id)
            it.addClass('disabled')

            $.ajax({
                url: href,
                success: function() {
                    it.addClass('d-none')
                    it.removeClass('disabled')
                    other.removeClass('d-none')
                }
            })
        });
        $('.shower').on('click', function(event) {
            var href = $(this).data('href')
            var id = $(this).data('id')
            var it = $(this)
            var other = $('#hide-' + id)
            it.addClass('disabled')
            $.ajax({
                url: href,
                success: function() {
                    it.addClass('d-none')
                    it.removeClass('disabled')
                    other.removeClass('d-none')
                }
            })
        });
        var lazyLoadInstance = new LazyLoad({
          // Your custom settings go here
        });
    </script>
  </body>
</html>