<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Hello, Nightmare Room!</title>
  </head>
  <body>
  <div id="index" class="rellax">
    <div class="header">
      <img id="logo" src="{{ url_for('static', filename='logo.svg') }}">   
      <div id="burger-menu">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <div class="overlay-content">
            <a href="" class="text-grey">About</a>
            <a href="" class="text-grey">Impressum</a>
            <a href="" class="text-grey">What are we missing here?</a>
          </div>
        </div> 
        <span class="icon"><img src="{{ url_for('static', filename='icon.svg') }}" onclick="openNav()"></span>
      <img id="background" src="{{ url_for('static', filename='header.png') }}">
    </div>
    <div class="content">
      <div class="container-fluid">
          <div class="row">
              {% for media_file in media_files %}
              <div class="col">
                          <!-- ID {{ media_file.id }} vom {{ media_file.timestamp }} {{ media_file.filename }} -->
                  <img class="img-file" src="/{{ media_file.id }}/file"/>
                      <div class="meta-elements">
                          <span class="element-box">{{ media_file.timestamp }}</span>
                          <span class="element-box">Tokyo</span>
                      </div>   
                      <div class=img-elements>
                          <img id="share" src="{{ url_for('static', filename='share.svg') }}">
                          <img id="download" src="{{ url_for('static', filename='download.svg') }}">
                      </div>
                  <div class="overlay"></div>    
              </div>
              {% endfor %}
          </div>
          <!-- Wir haben {{ media_count }} Bilder auf Seite {{ current_page }}<br>
          Wir haben insgesamt {{ max_pages }} Seiten.<br>
          Wir zeigen {{ per_page }} Bilder auf einer Seite. -->
      </div>
    </div>
  </div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>
<script>
function openNav() {
  document.getElementById("burger-menu").style.height = "100%";
  document.getElementsByTagName('body')[0].style.overflowY = "hidden";
}

function closeNav() {
  document.getElementById("burger-menu").style.height = "0%";
  document.getElementsByTagName('body')[0].style.overflowY = "initial";
}
</script>  
</body>
</html>