@keyframes blink {
  100% {
    box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
      0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
  }
}

.gradient-background {
  position: fixed;
  z-index: -101;
  width: 100%;
  height: 100%;
  background-color: #ff4e00;
  background-image: linear-gradient(315deg, #ff4e00 0%, #ec9f05 74%);
}

.socialbutton {
   background-position: 0 0;
    background-repeat: no-repeat;
    display: inline-block; /* set display so you can set width/height */
    cursor: pointer; /* ensure it shows the link cursor */
    width: 31px;
    height: 31px;
}

.logo-wrap {
  width: 420px;
  height: 420px;
  margin: auto;
  background-color: #5de6de;
  transform: translate(0, -100px);
  margin-bottom: -100px;
  border-radius: 1000px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  box-shadow:0 0 100px #ffff00;
  background: white;
}

#logo {
  height: 500px;
  width: 500px;
  pointer-events: none;
}

@keyframes float {
  0% {
    transform: translatey(5px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(5px);
  }
}


body {
  background-color: black;
}
body .header {
  margin-bottom: 25px;
  position: relative;
}

.img-file {
  width: 100%;
  height: calc(100% - 40px);
  border-radius: 11px;
  background-size: cover;
}

.my-col {
  margin-bottom: 20px;
  animation: fadeIn ease 2s;
}

.meta-elements {
	position: absolute;
  top: 35px;
  right: 28px;
}

.logo {
  margin: auto;
}

.meta-elements .element-box {
	background-image: linear-gradient(to right, #07254A, #0F4588);
	color: white;
	border-radius: 14px;
  	height: 24px;
  	padding: 8px 4px;
  	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.img-file {
  min-height: 400px;
}

.img-elements {
	text-align: right;
	margin-top: 12px;
}

.cool-glow {
	box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
    0 0 40px #0ba9ca, 0 0 50px #0ba9ca;
    animation: blink 0.7s infinite alternate;
}

.social-media-buttons {
  border-bottom-left-radius: 10px;
  position: relative;
  display: inline-block;
  justify-content: center;
  background: rgba(255,255,255,0.5);
  padding: 10px;
}

.social-media-buttons * {
  margin: 5px;
}


body .header #background {
  min-width: 100%;
  height: 250px;
}

.subheader {
  width: 100%;
  position: absolute;
  top: 140px;
}

@media(min-width: 900px) {
  .subheader {
    /*top: 120px;*/
  }
}


@media(min-width: 1450px) {
  .subheader {
    /*top: 80px;*/
  }
}

.footer {
  background: black;
  padding: 60px;
}

.footer-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.footer-nav a {
  color: white;
  text-transform: uppercase;
  font-family: Roboto;
  font-weight: bolder;
  font-size: 24px;
  text-decoration: none;
}

.pink-extra {
  border: 1px solid #FA20BD;
  width: 100%;
  box-shadow: 1px 1px 4px #FA20BD;
  height: 100%;
  transform: translate(-10px, -10px);
  border-radius: 20px;
  position:absolute;
  pointer-events: none;
}

.header {

  text-align: right;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.inner-col {
	position: relative;
  height: auto;
	margin: auto;
	padding: 20px;
  border-radius: 20px;
	border: 1px solid #47FCA5;
  box-shadow: 1px 1px 4px #47FCA5;

}

.floating-col {
    animation: float 6s ease-in-out infinite;
}

#masuda {
  margin-top: 100px;
  background-color: black;
  padding-top: 20px;
  padding-bottom: 20px;
}

.new-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
}

.align-middle {
  height: 100%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#masuda .text {
  padding-bottom: 40px;
}
#masuda .text h2 {
  margin-top: 40px;
  font-style: normal;
  font-weight: 900;
  line-height: 16px;
  color: white;
}
#masuda .text p {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: white;
}
