#index {
  background: linear-gradient(93.84deg, #F8CA46 2.7%, #F3915A 95.15%);
}
#index .header {
  width: 100%;
  height: 150px;
  position: fixed;
  z-index: 10;
}
#index .header .header-content {
  width: 100%;
  position: absolute;
  top: 0;
}
#index .header .header-content #header-bear {
  position: relative;
  display: block;
  margin: 0 auto;
  z-index: 10;
}
#index .header .header-content #header-banner {
  position: relative;
  top: -50px;
  width: 100%;
}
#index .header #background {
  width: 100%;
}
#index .header #logo {
  position: absolute;
  top: 10px;
  margin-left: 10px;
}
#index .header #burger-menu {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #E5E5E5;
  overflow-y: hidden;
  transition: 0.5s;
}
#index .header #burger-menu .closebtn {
  position: absolute;
  right: 20px;
  text-decoration: none;
  font-size: 36px;
  color: #FA20BD;
  display: block;
  transition: 0.3s;
}
#index .header #burger-menu .overlay-content {
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 90px;
}
#index .header #burger-menu .overlay-content .text-grey {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: grey;
  padding: 12px 8px;
  text-decoration: none;
  display: block;
  transition: 0.3s;
}
#index .header #burger-menu .overlay-content .text-grey:hover,
#index .header #burger-menu .overlay-content .text-grey:focus {
  color: black;
}
#index .header .icon {
  position: absolute;
  top: 15px;
  right: 20px;
}
#index .header .icon:hover {
  cursor: pointer;
}
#index .content .container-fluid .social-media-buttons {
  position: relative;
  top: 190px;
  display: flex;
  justify-content: center;
}
#index .content .container-fluid .social-media-buttons .margin {
  margin: 0 14px;
}
#index .content .container-fluid .row {
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}
#index .content .container-fluid .row .col {
  display: block;
  margin: 0 auto;
  position: relative;
  align-self: flex-start;
  width: 366px;
  height: 323px;
  margin-bottom: 70px;
  border: 1px solid #47FCA5;
  box-shadow: 1px 1px 4px #47FCA5;
  padding: 20px 10px 50px 20px;
}
#index .content .container-fluid .row .col:first-child {
  margin-top: 210px;
}
@media (max-width: 350px) {
  #index .content .container-fluid .row .col {
    padding: 20px 5px 50px 15px;
  }
}
#index .content .container-fluid .row .meta-elements {
  position: absolute;
  top: 35px;
  right: 20px;
}
#index .content .container-fluid .row .meta-elements .element-box {
  color: white;
  background-image: linear-gradient(to right, #07254A, #0F4588);
  border-radius: 14px;
  height: 24px;
  padding: 8px 4px;
}
#index .content .container-fluid .row .img-file {
  display: block;
  width: 100%;
  height: 252px;
  border-radius: 11px;
}
#index .content .container-fluid .row .img-elements {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
#index .content .container-fluid .row .img-elements #download {
  position: absolute;
  top: 10px;
  right: 10px;
}
#index .content .container-fluid .row .img-elements #share {
  position: absolute;
  top: 10px;
  right: 55px;
}
#index .content .container-fluid .overlay {
  position: absolute;
  top: 5px;
  right: -10px;
  width: 366px;
  height: 330px;
  border: 1px solid #FA20BD;
  box-shadow: 1px 1px 4px #FA20BD;
}
@media (max-width: 361px) {
  #index .content .container-fluid .overlay {
    width: 335px;
    height: 305px;
    right: -8px;
  }
}
@media (max-width: 350px) {
  #index .content .container-fluid .overlay {
    width: 300px;
    height: 280px;
    right: -8px;
  }
}
#index #masuda {
  background-color: black;
}
#index #masuda img {
  height: 1900px;
}
#index #masuda .col {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 30px;
  align-self: flex-start;
  width: 366px;
  margin-bottom: 70px;
  border: 1px solid #47FCA5;
  box-shadow: 1px 1px 4px #47FCA5;
  padding: 0px 10px 0px 20px;
}
#index #masuda .col .img-file {
  display: block;
  width: 100%;
  height: 252px;
  border-radius: 11px;
}
#index #masuda .col .overlay {
  position: absolute;
  top: 5px;
  right: -10px;
  width: 366px;
  height: 260px;
  border: 1px solid #FA20BD;
  box-shadow: 1px 1px 4px #FA20BD;
}
@media (max-width: 361px) {
  #index #masuda .col .overlay {
    width: 335px;
    height: 305px;
    right: -8px;
  }
}
@media (max-width: 350px) {
  #index #masuda .col .overlay {
    width: 300px;
    height: 280px;
    right: -8px;
  }
}
#index #masuda .text {
  margin: 0 25px;
  padding-bottom: 40px;
}
#index #masuda .text h2 {
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 16px;
  color: white;
}
#index #masuda .text p {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: white;
}
#index .footer .footer-nav {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  top: 40px;
}
#index .footer .footer-nav a {
  font-weight: 900;
  font-size: 18px;
  line-height: 16px;
  text-align: left;
  color: white;
  text-decoration: none;
}
.unvisible {
  display: none;
}
.dismiss-scroll {
  overflow-y: hidden;
}
