@desktop: ~"(min-width: 768px)";
@very-small-screens: ~"(max-width: 350px)";
@small-screens: ~"(max-width: 361px)";

#index {
  background-color: black;

  .header {
    height: 150px;
    // margin-bottom: 25px;
    position: fixed;
    z-index: 10;

    #background {
      width: 100%;
      // height: 149px;
    }

    #logo {
      position: absolute;
      top: 10px;
      margin-left: 10px;
    }

    #burger-menu {
      height: 0%;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      background-color: #E5E5E5;
      overflow-y: hidden;
      transition: 0.5s;

      .closebtn {
        position: absolute;
        right: 20px;
        text-decoration: none;
        font-size: 36px;
        color: #FA20BD;
        display: block;
        transition: 0.3s;
      }

      .overlay-content {
        position: relative;
        width: 100%;
        text-align: center;
        margin-top: 90px;

        .text-grey {
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: center;
          color: grey;
          padding: 12px 8px;
          text-decoration: none;        
          display: block;
          transition: 0.3s;

          &:hover, &:focus {
            color: black;
          }
        }
      }  
    }

    .icon {
      position: absolute;
      top: 15px;
      right: 20px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .content {
  .container-fluid {
    .row {
      flex-direction: column;
      width: 100%;
      margin: 0 auto;

      .col {
        display: block;
        margin: 0 auto;
        position: relative;
        align-self: flex-start;
        // right: -18px;
        width: 366px;
        height: 323px;
        margin-bottom: 70px;
        border: 1px solid #47FCA5;
        box-shadow: 1px 1px 4px #47FCA5;
        padding: 20px 10px 50px 20px;

        &:first-child {
            margin-top: 175px;
        }

        @media @very-small-screens {
          padding: 20px 5px 50px 15px;
        }
      }


        .meta-elements {
          position: absolute;
          top: 35px;
          right: 20px;

          .element-box {
            color: white;
            background-image: linear-gradient(to right,#07254A , #0F4588);;
            border-radius: 14px;
            height: 24px;
            padding: 8px 4px;
          }
        }

        .img-file {
          display: block;
          max-width: 100%;
          // width: 335px;
          // height: 252px;
          border-radius: 11px; 
        }

        .img-elements {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          align-items: center;
          justify-content: flex-end;
          position: relative;

          #download {
            position: absolute;
            top: 10px;
            right: 10px;
          }

          #share {
            position: absolute;
            top: 10px;
            right: 55px;
          }
        }
      }
        .overlay {
          position: absolute;
          top: 5px;
          right: -10px;
          width: 366px;
          height: 330px;
          border: 1px solid #FA20BD;
          box-shadow: 1px 1px 4px #FA20BD;
          
          @media @small-screens {
            width: 335px;
            height: 305px;
            right: -8px;
          }

          @media @very-small-screens {
            width: 300px;
            height: 280px;
            right: -8px;
          }
        }
      }  
    @media @desktop {

    }
  }  
}

.unvisible {
  display: none;
}

.dismiss-scroll {
  overflow-y: hidden;
}